.App{
    text-align: center;
}

.heading-container{
    display: flex;
}

.heading{
    padding: 5px;
    border: 1px solid black;
}

.heading:hover {
    cursor: pointer;
}

.tab-body{
  display: flex;
  border: 1px solid black;
  height: 200px;
  padding: 5px;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 50px;
}

.error{
    color: red;
    display: block;
}

